<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDataLibrary.Properties.Settings.Параметр" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TestData;Integrated Security=True" />
    </connectionStrings>
</configuration>